.footer {
    padding: 20px 0;
    border-top: 2px solid #ff0000;
    font-size: 12px;
    
  
    .footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
    }
  
    .logo {
      img {
        height: 40px;
        margin: 5px 0;
      }
    }
  
    .media {
      display: flex;
      justify-content: space-evenly;
  
      a {
        font-size: 20px;
      }
    }
  
    .contact-info {
      p {
        margin: 5px 0;
      }
    }
  
    .email-signup {
      p {
        margin: 5px 0;
      }
    }
  
    a {
      color: #000;
      text-decoration: none;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .signup-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
  
      &:hover {
        background-color: #0056b3;
      }
    }

    .footer-content, .footer-content a{
      transition: 0.3s ease-in-out all;
    }
  }
  