.Header {
  text-align: center;
}

.navbar-top-head {
  background-color: #DD0B13;
  color: #ffffff;
  padding: 10px 0;

  .search-box{
    background-color: white;
    border: 0;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 2px;
  }

  .search-btn{
    background-color: white ;
    font-size: 14px;
    padding: 2px 5px;
    border: 0;
    margin-left: 2px;
    border-radius: 2px;
    font-weight: lighter;

    &:hover{
      background-color: gray  ;
    }
  }

  &,
  .navbar-bottom-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  height: 50px;
  margin: 0 20px;
}

.navbar-top-links,
.navbar-bottom-head a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-top-links a,
.navbar-bottom-head a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;

  &.navbar-bottom-head {
    padding: 5px 0;
    color: #000000;
    font-size: 10px;
    font-weight: bold;
  }
}

.home-btn {
  color: #DD0B13;
}

.btn-subscribe {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;

  &:hover {
    background-color: #0056b3;
  }
}