body {
  background-color: aliceblue;
}

.detail-top {
  display: flex;
  justify-content: space-between;
}
.detail-top a {
  color: #666666;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.detail-title {
  font-weight: bold;
  margin-top: 20px;
}

.detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px rgba(102, 102, 102, 0.4) solid;
}
.detail-info .detail-author {
  display: flex;
  align-items: center;
}
.detail-info .detail-author .groupavtauthor img {
  width: 80%;
}
.detail-info .detail-author .author-info a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.detail-sapo {
  margin: 20px 0px;
  font-weight: 500;
}

.detail-cmain .detail-content .VCSortableInPreviewMode {
  text-align: center;
}
.detail-cmain .detail-content .VCSortableInPreviewMode img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.detail-cmain .detail-content .VCSortableInPreviewMode p {
  padding: 8px 0px;
  color: #666;
  border-bottom: 1px solid #666;
  font-size: 16px !important;
}
.detail-cmain p {
  font-size: 18px;
}
.detail-cmain p .link-inline-content,
.detail-cmain p .VCCTagItemInNews {
  color: #226ac5;
  text-decoration: none;
}
.detail-cmain .VCSortableInPreviewMode.noCaption {
  float: right;
  width: 30%;
  text-align: center;
  margin: 20px;
}
.detail-cmain .VCSortableInPreviewMode.noCaption img {
  width: 100%;
}
.detail-cmain .VCSortableInPreviewMode.noCaption p {
  display: none;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview {
  float: right;
  width: 30%;
  margin: 20px;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox {
  padding: 10px;
  border: 1px solid #000;
  border-top: 4px solid #DD0B13;
  border-radius: 10px;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox .kbwscwlrl-title-header {
  font-weight: bold;
  margin: 0px 10px;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul {
  padding: 0;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #000;
  list-style: none;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul li {
  padding: 10px;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul li:first-child {
  border-bottom: 1px #000 dotted;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul li .kbwscwlrl-thumb-avata {
  float: left;
  width: 45%;
  padding: 0;
  height: auto;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul li .kbwscwlrl-thumb-avata img {
  width: 100%;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul li h4 {
  line-height: 1;
  font-weight: 700;
  margin-bottom: 30px;
  margin-left: 52%;
}
.detail-cmain .VCSortableInPreviewMode.type-4_preview .kbwscwl-relatedbox ul li h4 a {
  color: #000;
  width: 200%;
  text-decoration: none;
  font-size: 14px;
}
.detail-cmain .VCSortableInPreviewMode.alignCenter {
  margin-bottom: 40px;
  border: 1px orange solid;
}
.detail-cmain .VCSortableInPreviewMode.alignCenter div:first-child {
  margin: 20px;
}
.detail-cmain .VCSortableInPreviewMode.alignCenter p {
  text-align: left;
  border: none;
  margin: 0px;
  color: #000;
}
.detail-cmain .VCSortableInPreviewMode.alignCenter p b {
  font-size: 18px;
}
.detail-cmain .VCSortableInPreviewMode.alignCenter h2 {
  text-align: left;
}
.detail-cmain .VCSortableInPreviewMode.alignCenter figure.small-img {
  float: left;
  width: 30%;
  margin-right: 15px !important;
}
.detail-cmain .VCSortableInPreviewMode:last-child {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 8px 0 0;
  width: 100%;
}
.detail-cmain .VCSortableInPreviewMode:last-child img {
  float: left;
  height: 93px !important;
}
.detail-cmain .VCSortableInPreviewMode:last-child a {
  color: #004276;
  font-size: 15px;
  font-weight: bold;
  margin: 7px 0;
  text-decoration: none;
}
.detail-cmain .VCSortableInPreviewMode:last-child p {
  border: none;
}
.detail-cmain .detail-author-bot {
  text-align: end;
}
.detail-cmain .detail-author-bot a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#boxCommentPicked {
  display: none;
}

.modal__sendreact {
  display: none;
}

#detail_comment {
  display: none;
}

.detailsocialboot {
  display: none;
}

.detail-tab {
  display: none;
}

.detail__history {
  display: none;
}

.kbwscwlr-list li {
  list-style: none;
}

.detail__related {
  border: 1px solid #666;
  background-color: #fdf9f9;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.detail__related .box-category {
  margin: 15px;
}
.detail__related .box-category a {
  color: #000;
  text-decoration: none;
}
.detail__related .box-category .box-category-middle {
  max-width: 100%;
  display: flex;
}
.detail__related .box-category .box-category-middle .box-category-item {
  max-width: 33%;
  margin-right: 15px;
  display: flex;
}
.detail__related .box-category .box-category-middle .box-category-item .box-category-content {
  margin-left: 15px;
}
.detail__related .box-category .box-category-middle .box-category-item .box-category-content a {
  font-size: 20px;
}

.sendstarauthor {
  display: none;
}

/*# sourceMappingURL=DetailPage.css.map */